@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

p {
    font-family: 'Raleway';
    text-align: justify;
}

body{
    background-image: url('img/1151831.jpg');
    /* background-position-x: center;
    background-position-y: center; */
    /* background-size: 1080px 720px; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 90%;
    margin: auto;
    /* max-width: auto; */
    background-color: white;
    margin-bottom: 20px;
}

nav {
    background-color: forestgreen;
}

nav ul li{
    /* color: White; */
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

header{
    text-align: center;
    font-family: 'Montserrat';
    /* width: 30%;
    margin-left: 150px; */
}

a{
    color: rgb(146, 0, 0);
    font-family: 'Kdam Thmor Pro';
}

a:visited{
    color: rgb(0, 113, 157);
}

a:hover{
    color: rgb(181, 181, 181);
}

/* div[id = "tmbuy"] {
    position: relative;
    width: 624px;
    height: 300px;
    overflow: hidden;
} */
/* div[id = "tmbuy"] > iframe {
    position: absolute;            
    top: -95px;
    top: 30px;
    left: -25px;
    width: auto;
    height: 768px;
} */

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
div[class = "tmbuy"]{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
}

div[class = "tmbuy"] img {
    height: 120px;
    width: 200px;
    /* margin-left: 10px; */
    /* margin: auto; */
    /* display: block; */
}

div[class = "tmbuy"] p{
    text-align: center;
    color: rgb(0, 157, 128);
}

/* TODO: FIX ARRANGEMENT W/O CREATING NEW COLUMN! */

#tm1 {
    grid-row: 1 / 6;
    /* order: 1; */
}

#tm2 {
    grid-row: 3 / 6;
    /* order: 3; */
}

#tm3{
    grid-row: 5 / 6;
    /* order: 5; */
}

#text1{
    /* grid-row: 2 / 6; */
    order: 2;
}

#text2{
    /* grid-row: 4 / 6; */
    order: 4;
}

#text3{
    /* grid-row: 6 / 6; */
    order: 6;
}

footer{
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    background-color: rgb(136, 0, 0);
    /* width: 83%;
    margin: auto; */
    /* max-width: auto; */
    margin-top: 30px;
}
/* Desktop Layout */
@media (min-width: 768px){
    div[class = "tmbuy"]{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 50px;
    }
    nav ul {
        /* text-align: center; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 10px;
    }
    nav ul li{
        /* display: inline-block; */
        /* list-style-type: none; */
        padding-bottom: 0;
    }
    /* body{
        background-image: url('img/1151831.jpg');
        background-position-x: center;
        background-position-y: center;
        background-size: 456px 1248px;
        height: 100%;
    } */
    table{
        /* border: 1px solid black; */
        border-collapse: collapse;
        width: 100%;
    }
    table th, table td{
        border: 1px solid black;
        /* border-bottom: 1px solid black;
        border-left: 1px solid black; */
        /* margin-right: 10px; */
        padding: 15px;
    }
}